body{
    font-family: sans-serif;
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: rgba(216, 216, 216, 0.432);
    text-align: center;
    margin: 0px;
    background-size: cover;
    background-size: 1366px 420px;
    

}
header img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 35px;
    margin-bottom: -4px;
    width: 33%;
   height: auto;
}
.primeira{
    background-color: white;
    width: 33vw;
    height: 55vh;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}    
.primeira h1{
    font-size: 25px;
    letter-spacing: 2px;
    padding-top: 28px;
}
.text{
    text-align: center;
}

.annual_plan{
    display: inline-block;
    background-color: rgba(225, 240, 250, 0.575);
    padding: 20px;
    background-image: url(./images/icon-music.svg);
    background-repeat: no-repeat;
    background-size: 58px 58px;
    background-position: 20px 8px;
    line-height: 5px;
    width: 75%;
    border-radius: 10px;
    
    
}
.annual_plan h4{
    margin-top: 2px;
    text-align: left;
    margin-left: 70px;
}
.annual_plan p{
    text-align: left;
    margin-left: 75px;
}
.annual_plan a{
    text-align: right;
    display: block;
    margin-top: -30px;
    margin-bottom: 15px;
    font-weight: bold;
}
.payment{
    display: inline-block;
    margin-top: 35px;
    padding: 15px;
    width: 77%;
    background-color: rgb(29, 2, 206);
    color: white;
    font-weight: bold;
    border-radius: 10px;
}
.cancel{
    margin-top: 30px;
    margin-bottom: 40px;
    color: rgb(40, 43, 97);
    font-weight: bold;
}
.attribution{
    margin-top: 30px;
}