body{
    font-family: sans-serif;
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: rgba(216, 216, 216, 0.432);
    text-align: center;
    margin: 0px;
    background-size: cover;
    background-size: 1366px 420px;
    

}
.primeira{
    background-color: white;
    width: 33vw;
    height: 50vh;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 0;
}    
.primeira h1{
    font-size: 25px;
    letter-spacing: 2px;
    padding-top: 28px;
}
.text{
    text-align: center;
}

.annual_plan{
    display: inline-block;
    background-color: whitesmoke;
    padding: 20px;
    background-image: url(./images/icon-music.svg);
    background-repeat: no-repeat;
    background-size: 58px 58px;
    background-position: 20px 8px;
    line-height: 5px;
    width: 75%;
}
.annual_plan h4{
    margin-top: 2px;
    text-align: left;
    margin-left: 70px;
}
.annual_plan p{
    text-align: left;
    margin-left: 75px;
}
.annual_plan a{
    text-align: right;
    display: block;
    margin-top: -30px;
    margin-bottom: 15px;
}
   